extends ../layout

block header
    script(type='text/javascript' src='/static/js/jquery.min.js')

block content
    div(id='contain')
        div(style='padding: 50px;')
            h3 欢迎进入 #{info.name}
            div 
                p
                p 开始聊起来吧
                p 


            

        
